<%-include('partial/header')-%>
<div class="jumbotron">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-4">dont keep your secret share them anonymously</h1>
    <hr class="my-4">
    <div class="form-group">
            <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>    
</div>
<%-include('partial/header')-%>